@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --ko-landing-primary-color: #e8c639;
    --ko-landing-primary-hover-color: #d8b63b;
    --ko-landing-primary-active-color: #b39421;
    --ko-landing-secondary-color: #05b9be;
}

html, body {
    height: 100%;
}

html.lock {
    overflow: hidden;
    padding-right: var(--ko-landing-scrollbar-width, 17px);
}

.popup-offset {
    padding-right: var(--ko-landing-scrollbar-width, 17px);
}
